* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    min-height: 100vh;
    gap: 40px;
}
.frame {
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #fff;
    box-shadow: 0 0 10px;
    
}
.orange-frame{
    border: 25px solid #f9b233;
}
.inner-box{
    text-align: center;
    padding: 20px;
    width: 250px;
    
}
.title{
    background: #000;
    color: #f4b7b7;
    font-size: 28px;
    padding:5px 5px;
    margin-bottom: 10px;
}
.subtitle{
    background: #000;
    color: #f4b7b7;
    font-size: 13px;
    padding: 5px;
    line-height: 1.5;
}
.black-frame{
    border: 25px solid black;
    position:relative;
    width: 15%;

}
.black-frame img{
    width: 100%;
    height: 250px;
    display:block;
    
}
.inner-box{
    align-items: center;
    /* padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%; */
    padding: 0%;
}
.photo-text{
    position: absolute;
    bottom: 50%;
    right: 15%;
    color: #c2b0a2;
    font-size: 20px;
    font-weight: 500;
    text-align:right;
    line-height: 1.2;
}